:root {
--main-color: #5ea3d0;
--secondary-color: white;
--main-text-color: #3e5869;
--secondary-text-color: #b0c7d6;
--send-message-form: #F5F5F5;
 --animations: 0.3s;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: system-ui;
/* font-weight: 200; */
color: #3e5869; 
background-color: var(--secondary-text-color);
}
/* 
#root {
height: 100%;
} */
/* 
.app {
height: calc(100% - 100px); 
} */

/* *************************************************************************************** */
/*  HEADER  */
.header {
background-color: var(--main-color);
width: 100%;
padding: 0.2em 0;  
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar {
display: grid;
grid-template-columns: 1fr 4fr repeat(4,1fr);
}

.logoPlace {
grid-area: logo;
text-align: center;
padding-top: 0.1em;
}
.logo {
height: auto;
max-height: 35px;
}


.title {
vertical-align: bottom;
text-align: center;
color: var(--secondary-color);
margin:0 px auto;
}

.title a{
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    padding:0;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
}
.title a:hover{
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    padding:0;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-text-color);
}
.menu-item{
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    color: var(--secondary-color);
}
.menu-item a{
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    padding:0;
    text-decoration: none;
    color: var(--secondary-color);
}
.menu-item a:hover{
    vertical-align: bottom;
    text-align: center;
    margin:0 px auto;
    padding:0;
    text-decoration: none;
    border-style: none none solid none;
}
  
/* *************************************************************************************** */
/*  MESSAGE form */
.message_user1 {
margin: 15px 0;
font-size: 11px;
color: var(--main-text-color);
opacity: 0.9;
margin-bottom: 6px;
}
.message_content1 {
background: var(--main-color);
color: var(--secondary-color);
padding: 4px 8px;
border-radius: 5px;
border: 1px solid var(--secondary-color);
position: absolute;
left: 0px;
max-width:300px;
margin: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.time_stamp1 {
margin: 15px 0;
font-size: 9px;
color: var(--main-text-color);
opacity: 0.9;
/* margin-top: 9px; */
}
.message_user2 {
margin: 15px 0;
font-size: 11px;
color: var(--main-text-color);
opacity: 0.9;
margin-bottom: 6px;
text-align: right;

}
.message_content2 {
background: var(--secondary-color);
color: var(--main-color);
padding: 4px 8px;
border-radius: 5px;
border: 1px solid var(--main-color);
position: absolute;
right: 0px;
max-width:400px;
margin: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time_stamp2 {
margin: 15px 0;
font-size: 9px;
color: var(--main-text-color);
opacity: 0.9;
/* margin-top: 9px; */
text-align: right;
}



/* *************************************************************************************** */
/* SEND MESSAGE form */
.send_area{
    display: grid;
    grid-template-columns: auto 1fr;
}

.send_message_form {
background: var(--send-message-form);
display: flex;
box-sizing: border-box;
height: 45px;
min-width: 100px;
width: 400px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button {
    background-color: var(--main-color);;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /* margin: 4px 2px; */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* *************************************************************************************** */
/* Media Query Breakpoint */



@media screen and (min-width: 55em) {
/* media queries for header */
.navbar {
    padding: 0em 2em;

}
}
@media screen and (min-width: 80em) {
.test{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 1em;
    /* margin-left: 1em; */
}
.icon {
    margin-top: 0.25em;
}
}
